/phase1/bite1/example-1/node_modules/
/phase1/bite1/example-1/bundle.js
/phase1/notes-app/node_modules/
/phase1/notes-app/bundle.js
/phase1/example-2/node_modules/
/phase1/example-2/bundle.js
/phase1/example-2/__MACOSX/